<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Demande de stages</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" />
<link rel="stylesheet" th:href="@{styles/default.css}" />
</head>
<body>
	<div class="containner">
		<!-- Header -->
		<div th:replace="header::header"></div>
		<!-- Adminstration Body -->
		<!-- Body -->
		<div class="bodyMain" style="max-width: 750px; margin-top: 25px; float: left; margin-left: 50px">
			<div class="headermsg" style="padding: 35px">Demande Bien Ajouté!</div>
		</div>
		<!-- RightBar -->
		<div th:replace="rightbar::rightbar"></div>
		<!-- Footer -->
		<div style="clear:both"></div>
		<div th:replace="footer::footer"></div>
	</div>
</body>
</html>