<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Demande de stages</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" />
	 <script th:src="@{/scripts/jquery-3.3.1.min.js}"></script>
	  <script th:src="@{/scripts/confirmations.js}"></script>
<link rel="stylesheet" th:href="@{/styles/default.css}" />
</head>
<body>
<script>
function displayBlock(id){
    $(document).ready(function(){
    		$("#"+id).slideToggle(500);
    	});
    }
</script>
	<div class="containner">
		<!-- Header -->
		<div th:replace="header::header"></div>
		<!-- Adminstration Body -->
		<!-- Body -->
		<div class="bodyMain" style="max-width: 900px; margin-top: 25px; float: left; margin-left: 50px">
			<table class="tables" style="padding: 0px; border-width: 1px; border-spacing: 0px; width: 100%; text-align:center">
					<tr style="background: #C3C3C3">
						<th>Nom</th>
						<th><nobr>Prenom</nobr></th>
						<th>Email</th>
						<th>Telephone</th>
						<th>Etablissement</th>
						<th>Département</th>
						<th style="width: 180px">Opérations</th>
					</tr>
					<th:block th:each="d, rowStat:${myList}">
						<tr th:style="${rowStat.even} ? 'background: #F0F0F0;' : 'background: #ffffff;'">
							<td th:text="${d.demandeStage.nom}"></td>
							<td th:text="${d.demandeStage.prenom}"></td>
							<td th:text="${d.demandeStage.email}"></td>
							<td th:text="${d.demandeStage.telephone}"></td>
							<td th:text="${d.demandeStage.etablissement}"></td>
							<td th:text="${d.demandeStage.departement.titre}"></td>
							<td><button th:onclick="'displayBlock('+${d.id}+');'" class="mybutton" style="background:#2F4F4F"><i class="fas fa-eye"></i> Afficher stage</button></td>
						</tr>
						<tr>
							<td colSpan="7" style="text-align: left; padding: 0px; border-bottom: 0px">
								<div class="textform displayNone" th:id="${d.id}" style="margin: 0px; padding-left: 25px">
								<br />
									<div class="smallhead" style="border-bottom: 4px solid #5F9EA0; width: 70%; color: #00008B" th:inline="text">Stage n[[${d.id}]]</div>
									<div style="float:left; font-size: 15px; width: 200px">
										Date de Debut:
									</div> 
									<div th:text="${d.demandeStage.date_debut}" style="float: left; font-size: 15px; font-weight: normal; font-style:italic"></div>
									<div style="clear: both; padding:5px"></div>
									<div style="float:left; font-size: 15px; width: 200px">
										Durée de stage:
									</div> 
									<div th:text="${d.demandeStage.duree+' mois'}" style="float: left; font-size: 15px; font-weight: normal; font-style:italic"></div>
									<div style="clear: both; padding:5px"></div>
									<div style="float:left; font-size: 15px; width: 200px">
										NOM et Prenom:
									</div> 
									<div th:text="${d.demandeStage.nom+' '+d.demandeStage.prenom}" style="float: left; font-size: 15px; font-weight: normal; font-style:italic"></div>
									<div style="clear: both; padding:5px"></div>
									<div style="float:left; font-size: 15px; width: 200px">
										Etablissement:
									</div> 
									<div th:text="${d.demandeStage.etablissement}" style="float: left; font-size: 15px; font-weight: normal; font-style:italic"></div>
									<div style="clear: both; padding:5px"></div>
									<div style="float:left; font-size: 15px; width: 200px">
										E-mail:
									</div> 
									<div th:text="${d.demandeStage.email}" style="float: left; font-size: 15px; font-weight: normal; font-style:italic"></div>
									<div style="clear: both; padding:5px"></div>
									<div style="float:left; font-size: 15px; width: 200px">
										Telephone:
									</div> 
									<div th:text="${d.demandeStage.telephone}" style="float: left; font-size: 15px; font-weight: normal; font-style:italic"></div>
									<div style="clear: both; padding:5px"></div>
									<div style="float:left; font-size: 15px; width: 200px">
										Département:
									</div> 
									<div th:text="${d.demandeStage.departement.titre}" style="float: left; font-size: 15px; font-weight: normal; font-style:italic"></div>
									<div style="clear: both; padding:5px"></div>
									<div style="float:left; font-size: 15px; width: 200px">
										CV:
									</div> 
									<div style="float: left; font-size: 15px; font-weight: normal; font-style:italic">
										<th:block th:if="${d.demandeStage.cv.isImg()}">
											<a th:href="@{'/'+${d.demandeStage.cv.fileDirectory}+'/'+${d.demandeStage.cv.fileName}+'.'+${d.demandeStage.cv.fileExtension}}" target="_blank">
												<img th:src="@{'/'+${d.demandeStage.cv.fileDirectory}+'/'+${d.demandeStage.cv.fileName}+'.'+${d.demandeStage.cv.fileExtension}}" class="contour" style="width: 40px; height: 40px" />
											</a>
										</th:block>
										<th:block th:if="${d.demandeStage.cv.fileExtension == 'pdf'}">
											<a th:href="@{'/'+${d.demandeStage.cv.fileDirectory}+'/'+${d.demandeStage.cv.fileName}+'.'+${d.demandeStage.cv.fileExtension}}" target="_blank">
												<img th:src="@{/images/pdf.png}" />
											</a>
										</th:block>
										<th:block th:if="${d.demandeStage.cv.fileExtension == 'xls' || d.demandeStage.cv.fileExtension == 'xlsx'}">
											<a th:href="@{'/'+${d.demandeStage.cv.fileDirectory}+'/'+${d.demandeStage.cv.fileName}+'.'+${d.demandeStage.cv.fileExtension}}" target="_blank">
												<img th:src="@{/images/excel.png}" />
											</a>
										</th:block>
										<th:block th:if="${d.demandeStage.cv.fileExtension == 'doc' || d.demandeStage.cv.fileExtension == 'docx'}">
											<a th:href="@{'/'+${d.demandeStage.cv.fileDirectory}+'/'+${d.demandeStage.cv.fileName}+'.'+${d.demandeStage.cv.fileExtension}}" target="_blank">
												<img th:src="@{/images/word.png}" />
											</a>
										</th:block>
										<th:block th:if="${d.demandeStage.cv.fileExtension == 'zip' || d.demandeStage.cv.fileExtension == 'rar'}">
											<a th:href="@{'/'+${d.demandeStage.cv.fileDirectory}+'/'+${d.demandeStage.cv.fileName}+'.'+${d.demandeStage.cv.fileExtension}}" target="_blank">
												<img th:src="@{/images/rar.png}" />
											</a>
										</th:block>
									</div>
									<div style="clear:both"></div>
								</div>
							</td>
						</tr>
					</th:block>
			</table>
							<div class="pagination">
					<a href="#">&laquo;</a>
					<th:block th:if='${totalPages} > 0' th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:href="@{'/responsable/stages?page='+${i}}" th:text="${i}" th:class="${(page+1) == i ? 'active' : ''}"></a>
					</th:block>
					<a href="#">&raquo;</a>
				</div>
		</div>
		<!-- RightBar -->
		<div th:replace="rightbar::rightbar"></div>
		<!-- Footer -->
		<div style="clear:both"></div>
		<div th:replace="footer::footer"></div>
	</div>
</body>
</html>